/**
 * Chart.css
 */

.chart {
  display: inline-block;
  width: 48%;
  padding: 1%;
}

.chart .svg-container {
  display: inline-block;
  position: relative;
  font-size: 0;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

.chart text.chart-title {
  fill: #6cd8fc;
  font-weight: 600;
  font-size: 13px;  
}

.chart .right-border line {
  stroke: #FFF;
  stroke-width: 2;
}

.chart .x-axis .domain,
.chart .y-axis .domain {
  stroke: #FFF;
}

.chart .y-grid {
  stroke: #666;
  stroke-dasharray: 5,5;
}

.chart .tick line {
  stroke: #FFF;
}

.chart .tick text {
  fill: #FFF;
}

.chart line.tails {
  stroke-width: 2;
  shape-rendering: crispEdges;
}

/** Down Bars **/
.chart .bar.down {
  fill: red;
}

.chart line.tails.down {
  stroke: red;
}

/** Up Bars **/
.chart .bar.up {
  fill: #4af747;
}

.chart line.tails.up {
  stroke: #4af747;
}


